html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
    background-color: floralwhite;
}
header > img {
    width: 100px;
}
figure > img{
    height: 350px
  }

h1 {
    font-size: 38px;
}
h2 {
  font-size: 32px;
}

.ingredients_list {
    list-style: square inside;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
    line-height: 1.5;
    font-family: Arial, sans-serif;
}
ul {
  list-style: none;
}
ul li a {
    color: inherit;
    text-decoration: none;
}
ol {
    list-style: armenian;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.user_review h4{
    font-weight: bold ;
}
.user_review p{
    font-style: italic;
}

select, input[type = "radio"], input[type = "submit"]{
    cursor: pointer;
    outline: none;
}

input[type = "submit"]:last-child{
    background-color: gold;
}
input[type = "submit"]:last-child:hover{
    -webkit-filter: brightness(90%);
}

input[type = "radio"]:hover{
    -webkit-appearance: none;
    background-image: url(./stars.png);
    height: 25px;
    width: 25px;
    background-position: center
}
input[type = "radio"]:checked{
    -webkit-appearance: none;
    background-image: url(./stars.png);
    height: 25px;
    width: 25px;
    background-position: bottom
}
input[type = "radio"]{
    -webkit-appearance: none;
    background-image: url(./stars.png);
    height: 25px;
    width: 25px;
    background-position: top
}

ol li:nth-of-type(2n){
    background-color: lightgrey;
}
h2 + .user_review{
    border-top: 1px solid black; 
  }